@charset "utf-8";

/* CSS Document */
/*-------------general start--------------*/
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	background: #fafafa;
	padding: 0;
	margin: 0;
}

ol,
ul {
	list-style: none
}

html {
	position: relative;
	min-height: 100%;
}

body {
	color: #535353;
	background-color: #F4F4F4;
	font-size: 14px;
	line-height: 1.5em;
	font-family: DejaVu serif, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #737373;
	font-weight: normal;
}

h1,
h2,
h3 {
	margin: 0 0 15px;
}

h1 {
	font-size: 32px;
	line-height: 38px;
}

h2 {
	font-size: 26px;
	line-height: 31px;
}

h3 {
	font-size: 20px;
	line-height: 24px;
}

a {
	text-decoration: none;
}

#left_box {
	clear: left;
	float: left;
	width: 60%;
	padding: 3%;
	margin: 4%;
	display: inline;
	font-size: 14px;
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

#right_box {
	float: right;
	width: 26%;
	padding: 3% 0;
	display: inline;
}

#left_box #basic_data {
	padding-bottom: 30px;
}

#left_box #basic_data p {
	margin: 3px 0px;
}

#left_box #intro {
	padding-bottom: 30px;
	margin: 0px;
}

#left_box ul {
	padding-bottom: 30px;
	list-style: none;
}

#left_box ul li {
	padding-bottom: 3px;
}

#left_box a {
	color: #A87658;
}

#left_box .position_time {
	padding-bottom: 7px;
	color: gray;
}

#left_box ul.bullet_list {
	list-style: disc;
	margin-left: 20px;
}

#left_box .exeriences_list {
	padding-bottom: 0px;
}

#left_box #conferences li {
	padding-bottom: 20px;
}

#left_box .exeriences_list li:last-child,
#left_box #conferences li:last-child {
	padding-bottom: 0px;
}

.highlight {
	color: #529410;
	/*color: #21759B;*/
	/*color: #2F3236;*/
}

.title {
	font-style: italic;
	padding-bottom: 3px;
}

.position {
	color: #529410;
	padding-top: 5px;
	font-size: 16px;
}

#image_me {
	margin: 3% 0;
	padding: 20px;
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	width: 200px;
	height: auto;
}

#image_me a img {
	max-width: 100%;
	height: auto;
}

#articles {
	padding-top: 20px;
}

#articles a {
	color: #A87658;
	display: block;
	padding-bottom: 5px;
}

.article h2.author {
	margin-top: -15px;
	font-size: 12px;
	font-style: italic;
}

.article h2.author #author_name a {
	text-decoration: none;
	color: #737373;
}

.article h3 {
	padding-top: 10px;
}

.article p.code {
	background-color: #F8F8F8;
	border: 1px solid #DDDDDD;
	border-radius: 3px 3px 3px 3px;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
}